# Build output
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Dependencies
!.mvn/wrapper/maven-wrapper.jar

# Environment
.env

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.apt_generated

# OS
.DS_Store
